@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
}
html{
    font-size: 62.5%;
}
.main-div{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner-div img{
    width: 40rem;
    height: 60rem;
    box-shadow: 0 1rem 2rem .8rem rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    position: relative;
}
.main-div h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.main-div h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}
.inner-div .fas{
    position: absolute;
    color: red;
    top: 50%;
    left: 50%;
    animation: heartGrow 0.8s linear;
    -webkit-animation: heartGrow 1.2s linear ;
}

@keyframes heartGrow{
        100%{
            transform: scale(8);
            opacity: 0;
        }

}
